downloads/Node-RED mediator.json
[{"id":"c8d170a4.c08ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"c8d170a4.c08ed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"44256471.e4ca94","type":"watson-conversation-v1","z":"c8d170a4.c08ed8","name":"WA - Elektra","workspaceid":"260fbe0c-dd3a-4dd3-b2ae-dc3c7b65cac0","multiuser":true,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com","timeout":"","optout-learning":false,"x":550,"y":240,"wires":[["4abeadce.4d90d4"]]},{"id":"6fe07a64.bd22bc","type":"http in","z":"c8d170a4.c08ed8","name":"","url":"elektra","method":"post","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["1a69b92.3b5cfc7"]]},{"id":"7b41c7ef.8799f8","type":"http response","z":"c8d170a4.c08ed8","name":"","statusCode":"","headers":{},"x":850,"y":240,"wires":[]},{"id":"7f8e78e1.4e733","type":"http request","z":"c8d170a4.c08ed8","name":"Call RPA","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"fc522c4c.70ea5","persist":false,"proxy":"","authType":"","x":520,"y":180,"wires":[["1feb247c.e2ebc4"]]},{"id":"5f601085.a2c88","type":"function","z":"c8d170a4.c08ed8","name":"","func":"var postcode = msg.payload.postcode;\nvar consumption = msg.payload.consumption;\n//var userID = msg.payload.data.user_id;\nvar userID = \"dummy\"\n\nmsg.url = \"https://services-emea.skytap.com:8545/scripts/GetCheapestElectricityContract?unlockMachine=false\"\n            + \"&vPostCode=\" + postcode\n            + \"&vYearlyConsumption=\" + consumption\n            + \"&vUserID=\" + userID;\n\nmsg.rejectUnauthorized = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["7f8e78e1.4e733"]]},{"id":"71493f1.edef04","type":"debug","z":"c8d170a4.c08ed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"1feb247c.e2ebc4","type":"json","z":"c8d170a4.c08ed8","name":"","property":"payload","action":"","pretty":false,"x":670,"y":180,"wires":[["71e6e6a6.0d32e8"]]},{"id":"4abeadce.4d90d4","type":"function","z":"c8d170a4.c08ed8","name":"","func":"var reply_message = msg.payload.output.text[0];\nvar navigation = msg.payload.context.navigation;\nvar context = msg.payload.context;\n\nmsg.payload = {\n  message: reply_message,\n  navigation: navigation,\n  context: context\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":240,"wires":[["7b41c7ef.8799f8"]]},{"id":"d4017e2d.47c858","type":"function","z":"c8d170a4.c08ed8","name":"","func":"msg.user = msg.payload.id;\nvar text_to_send = msg.payload.text;\nmsg.action = msg.payload.action;\n\nmsg.payload = text_to_send;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":240,"wires":[["44256471.e4ca94"]]},{"id":"1a69b92.3b5cfc7","type":"switch","z":"c8d170a4.c08ed8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"rpa","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":180,"wires":[["f2f2649a.0d0d98","5f601085.a2c88"],["d4017e2d.47c858"]]},{"id":"71e6e6a6.0d32e8","type":"function","z":"c8d170a4.c08ed8","name":"","func":"var product_name = msg.payload.vProductName;\nvar price = msg.payload.vPrice;\nvar url = msg.payload.vURL;\n\nvar message_to_return =\n    \"OK, I'm back! The cheapest contract I found for you \" +\n    \"is \" + product_name + \" with annual cost of \" + price + \". \" +\n    \"Here's the link: \" + url;\n\nmsg.payload = {\n    message: message_to_return\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[["7b41c7ef.8799f8","71493f1.edef04"]]},{"id":"fc522c4c.70ea5","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]